---
import { Input } from "../components/input.tsx";
import { DEFAULT_VALUES } from "../config/constants";
import LandingLayout from "../layouts/landing.layout.astro";
import { Preview } from "./sections/preview.tsx";
---

<LandingLayout>
  <section class="border rounded-xl flex flex-col md:flex-row gap-5 divide-x">
    <div class="flex flex-col gap-4 w-full md:w-1/2 p-8">
      <div class="w-full">
        <Input
          client:visible
          id="text-color"
          label="Text color"
          valuePropertyName="text"
          defaultValue={DEFAULT_VALUES.TEXT_COLOR}
        />
      </div>

      <div class="w-full">
        <Input
          client:visible
          id="background-color"
          label="Background color"
          valuePropertyName="background"
          defaultValue={DEFAULT_VALUES.BACKGROUND_COLOR}
        />
      </div>
    </div>

    <Preview client:visible />
  </section>
</LandingLayout>
